---
const { styles } = Astro.props;
---

<button
  class={`${styles} bg-primary-gradient rounded-full p-1 text-seasalt font-medium text-lg tracking-wide group relative`}
>
  <div
    class="absolute w-full h-full rounded-full bg-primary-gradient -inset-[2px] group-hover:blur z-10"
  >
  </div>
  <span class="relative z-20 block px-8 py-3 rounded-full group-hover:bg-text">
    <slot />
  </span>
</button>
